<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.gzk.dao.UserMapper">
    <select id="getUserList" resultType="User">
        select * from admin
    </select>

    <select id="getUserById" parameterType="int" resultType="User">
        select * from admin where id = #{id}
    </select>

<!--    结果集映射-->
    <resultMap id="UserMap" type="User">
        <!--column数据库中的字段,property实体类中的属性-->
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById2" parameterType="int" resultMap="UserMap">
        select * from admin where id = #{id}
    </select>


<!--    对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="User">
        insert into admin (id,username,password) value (#{id},#{username},#{password})
    </insert>
<!--传递map中的key-->
    <insert id="addUser2" parameterType="map">
        insert into admin (id,password,username) value (#{userid},#{userpassword},#{username})
    </insert>

    <update id="updateUser" parameterType="User">
        update admin set username = #{username},password = #{password} where id = #{id}
    </update>

    <delete id="deleUser" parameterType="int">
        delete from admin where id = #{id}
    </delete>

    <select id="getUserLimit" parameterType="map" resultType="User">
        select * from admin limit #{startIndex},#{pageSize}
    </select>

</mapper>